{% extends "news/home.html" %}
{% load static %}
{% block banner %}
{% endblock %}
{% block content %}
<head>
    <style>
        #signup .button {
                    margin: 0px 0px 10px 0px;
            }
    </style>
</head>


   <foo id="signup">
    <div class="ba">
         <div class="news_headings"><h3>Change your password</h3></div>
         <div class="row">
             <div class="col-md-4 news_headings form">
                 <form method="post">
                     {% csrf_token %}
                     <p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" required id="id_old_password" autofocus /></p>
                     <p><label for="id_new_password1">New password:</label> <input type="password" name="new_password1" required id="id_new_password1" /></p>
                     <p><label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required id="id_new_password2" /></p>
                     <div class="news_headings">
                         <button type="submit" class="btn btn-block button">Submit</button>
                     </div>
                 </form>
             </div>
             <div class="col-md-6">
       <!--  <img src="{% static 'news/images/sig.jpg' %}" alt="Pic 01" width="500"/>-->
              </div>
 -             <div class="col-md-6">
 -          <!--  <img src="{% static 'news/images/sig.jpg' %}" alt="Pic 01" width="500"/>-->
          </div>
      </div>
 -            </div>
  </foo>
{% endblock %}
{% block footer %}

{% endblock %}